*{
    margin: 0px;
    padding: 0%;
}
.nav-bar{
    height: 105px;
    border-bottom: 2px solid #eeeeee;
    margin: 0px 10px 0px 50px;
    padding: 10px 0px 0px 20px;
}
   
.parent{
    display: flex;
    align-items: center;
    width: 68%;
    justify-content: space-between;
}
input{
    border: none;
    outline: none;
    width: 95%;
    height: 38px;
    padding-left: 12px;
} 
.child2{
    border: 1px solid rgb(200 203 207);
     width: 93.5%;

}
.child1 > img {
    height: 46px;
}
.parent1{
    display: flex;
    width: 96%;

}
.tabs{
    display: grid;
    grid-template-columns: 3.7fr 1.7fr 1.9fr 1.7fr 2.5fr 1.9fr 2.4fr 2fr 1fr 2.3fr 1fr;
    padding: 5px 0px 10px 55px;
    font-weight: 500;
    color:#5a5a5a ;
    align-items: center;

}
.tabs > div :hover{
    cursor: pointer;
}
.tabs > .tabs1 :hover{
    cursor: pointer;
}
.tabs2{
    width: 19%;
    margin-left: 16%;
    color:#5a5a5a ;

}
.tab9 {
color: red;
}
.lttabs2{
display: grid;
grid-template-columns: 0.2fr 0.3fr 0.2fr 0.1fr;
width: 89%;
margin-left: 37px;
font-size: 14px;
grid-gap: 5px;

}
.icons > i {
    font-size: 25px;
}
.lttabs1{
    padding: 0px 0px 5px;
    width: 108%;
}   
.next{
    height: 79vh;
    position: relative;
} 
.next >img{
    width: 100%;
    height: 100%;
 
}
.card {
    height: 55vh;
    width: 28%;
    background-color: #fff;
    position: absolute;
    top: 14%;
    padding: 30px 30px 10px 30px;
}
.card1{
    font-size: 44px;
    font-weight: 600;
    font-family: Montserrat,sans-serif;
    line-height: 52px;
}
.card2{
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    font-family: "HP Simplified Light";
    line-height: 26px;

    padding-top: 20px;
}
.card3{
    display: inline-block;
    height: 36px;
    padding: 0 20px;
    cursor: pointer;
    max-width: 100%;
    outline: none;
    font-size: 14px;
    line-height: 36px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #165dba;
    text-transform: uppercase;
    border-radius: 3px 3px;
    border: none;
}
.card4{
    padding-top: 20px;
}
.desktop{
display: grid;
grid-template-columns: 1.9fr 0fr 1fr 1fr 1fr 1fr 1fr 1fr;
padding-top: 30px;
text-align: center;
margin: auto;
align-items: center;
margin: 0px 50px 0px 50px;
cursor: pointer;
}
.desktop2 >img {
    margin: 21px 0px 15px 23px;
}
.desktop2{
    height: 93px;
}
.border-right{
    border-right: 1px solid #5a5a5a;
}
.desktop1{
    height: 93px;
}
.desktop7 >img{
    height: 100px;
}
.border-right >img{
    height: 58px;
}
.desktop8 >img{
    height: 58px;
}
.card-prods{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: space-between;
    margin: 50px 50px 60px 50px;
    padding-left: 20px;
    cursor: pointer;
}   
.prods{
    height: 35vh;
    width: 77%;
    background-color: #f8f8f8;
    align-items: center;
    text-align: center;
    color: #5a5a5a;
    padding: 35px 23px 20px 14px;
    transition: all 0.3s ease;
}
.prods:hover{
   border-radius: 3px;
   background-color: #d9c4c4;
}
.prods-new{
    height: 39vh;
    width: 77%;
    background-color: #555;
    color: #fff;
    padding: 20px 23px 20px 14px;
}
.prods-nev{
 padding: 20px ;
 font-size: medium;
 transition: all 0.3s ease;
}
.prods-nev:hover{
    border-radius: 3px;
   background-color: white;
   color: #165dba;
}
.prods-nev > i {
float: right;
}
.prods2{
    padding-top: 34px;
}
.fa-rupee:before, .fa-inr:before {
    font-size: 13px;
}
.prodlist-title{
    width: 114px;
    margin:35px 50px 25px 68px;
    color: #5a5a5a;
}
.productlist{
    margin:25px 50px 25px 68px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    padding-top: 30px;
}
.prodlist > img{
width: 377px;
padding-bottom: 20px;
}
.prodlist-hvr{
    color: #165dba;
    max-width: 115px;
    cursor: pointer;
    transition: all 0.3s ease;
    line-height: 30px;
}
.prodlist{
    padding-bottom: 20px;
}
.prodlist-hvr:hover{
   padding-left: 20px;
   border-radius: 3px;
   background-color: #efefef;

}
.prodlist-hvr > i{
    float: right;
    line-height: 28px;
}
.shopuser-title{
    width: 150px;
    margin:0px 50px 25px 68px;
    color: #5a5a5a;
}
.usershoping{
    margin:25px 50px 25px 68px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}
.usershop{
    padding-bottom: 30px;
}
.usershop > img {
    width: 275px;
    padding-bottom: 20px;
}
.usershop-hvr{
    color: #165dba;
    max-width: 115px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.usershop-hvr:hover{
    padding-left: 20px;
   border-radius: 3px;
   background-color: #efefef;
   
}
.usershop-hvr > i {
    float: right;
}
.ftproducts{
    width: 191px;
    margin:40px 50px 48px 68px;
    color: #5a5a5a;
    padding-top: 40px;  
}
.ftproductsstab{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #5a5a5a; 
}
.ftprodtabs :hover{
    cursor: pointer;
    color: #165dba;
    
}
.thrdcards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    margin: auto;
    width: 88%;
    padding-top: 30px;
}
.boxcard{
    box-shadow: 0 3px 6px rgb(44 48 56 / 16%);
    background: #fff;
    padding: 18px;
    width: 186px;
    margin-bottom: 20px;

}
.laptop > img{
width: 184px;
}
.stocks >img {
    width: 15px;
    margin-right: 5px;
}
.stocks > .stocktxt{
    color: #2c3038;
    font-size: 14px;
    position: absolute;
}
.info{
    padding-top: 15px;
    color: #af1653;
}
.stockname{
    font: normal normal 600 16px/24px 'montserrat';
    padding-bottom: 12px;
    color: #2c3038;
}
.demoprice{
    font-size: 12px;
    color: #2c3038;;
    padding-bottom: 5px;
    font-weight: 700;
}
.price{
    font: normal normal 600 18px/24px Montserrat;
    padding-bottom: 5px;
}
.tex{
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 600;
    padding-bottom: 5px;
}
.gst{
    font-family: montserrat;
    font-size: 11px;
    color: #2c3038;
    padding-bottom: 10px;
}
.shopbotton{
    background: #2c3038;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 11px 0;
    font-size: 14px ;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.shopbotton:hover{
    padding-right: 20px;
}
.fa-rupee:before, .fa-inr:before {
    font-size: 10px;
    color: #2c3038;
}
.price >.fa-rupee:before, .fa-inr:before{
    font-size: 17px;
}
.gst >.fa-rupee:before, .fa-inr:before{
   color:#706c6c; 
}
.newproducts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 0% 47px 0% 72px;
    margin-bottom: 20px;
}
.newprods >img{
    width: 96%;
}
.newprods{
    color: #000;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 20px;

}
.newprods-hvr{
    color: #165dba;
    cursor: pointer;
    width: 135px;
    text-align: center;
    transition: all 0.3s ease;
}
.hover{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    max-width: 115px;
}
.newprods-hvr:hover{
    padding-left: 10px;
   border-radius: 3px;
   background-color: #efefef;
   line-height: 33px;
}
.footer{
    background-color: #2c3038;
padding: 70px 0px;
}
.main{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 17%;
    padding: 0px 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
    position: relative;
}
.footer-col ul li {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #165dba;
    text-decoration: underline;
}
.bodyborder{
    margin: 0px 60px 20px 60px;
    padding: 0px 30px 10px 30px;
    border-bottom: 1px solid #bbbbbb;
    color: #bbbbbb;
}
.paymet{
    display: flex;
    justify-content: space-between;
    width: 49%;
    margin: 0px 60px 40px 60px;
}